<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Covid-19</title>
  </head>
  <body>
    {% block content %}
    <div class="container">
      <h1 class="text-center">Casos de Covid-19 no Brasil</h1>
      <p class="text-center">
        Dados por estado da federação, atualizados em {{ date }}
      </p>
      <!-- Tabela criada já com as classes Bootstrap -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Estado</th>
            <th scope="col">Número de casos</th>
          </tr>
        </thead>
        <tbody>
          <!-- Laço for agora iterando sobre cada estado do JSON -->
          {% for state in states %}
          <tr scope="row">
            <!-- Os dados do laço -->
            <td>{{ state["name"] }}</td>
            <td>{{ state["qtd_confirmation"] }}</td>
          </tr>
          <!-- No template nós devemos sinalizar o fim do for com um endfor -->
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
