{% extends "base.html" %} {% block content %}
<h1 class="text-center mb-3">
  Dados sobre a Covid-19 no Brasil e no mundo
</h1>
<div class="row">
  <div class="col-md-7">
    <p class="text-justify">
      Este é um site informativo sobre a Covid-19, doença causada pelo novo
      coronavírus (Sars-Cov-2).
    </p>
    <p class="text-justify">
      O site acessa dados desta
      <a href="https://doc.covid.finspect.me/">API</a>, que busca dados do
      DATASUS, e desta
      <a href="https://rapidapi.com/Gramzivi/api/covid-19-data/details">API</a>,
      que contém dados do mundo.
    </p>
    <p>
      Site em construção.
    </p>
  </div>
  <div class="col-md-5">
    <div class="card bg-light mb-3">
      <div class="card-header">Números do mundo</div>
      <div class="card-body">
        <h5 class="card-title">Dados totais</h5>
        <ul class="list-group">
          <li class="list-group-item">
            Confirmados:
            <span></span>
          </li>
          <li class="list-group-item">Recuperados: <span></span></li>
          <li class="list-group-item">Mortes: <span></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
